:root{
    --primary-text-color:#212121;
    --second-text-color: #757575;
    --accent-color:#2196F3;
    --bg-color-white:#FFFFFF;
    --bg-color-black:#2F303A;
    --black:#000000;

    
}
.list{
    list-style: none;
}
.body{
    font-family: 'Roboto';
    background-color:var(--bg-color-white);
}

/* logo */
.logo-primary{
    color: var(--accent-color)
}
.logo-secondary{
    color:var(--black)
}
.logo-primary,
.logo-secondary{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer .logo-primary{
    color: var(--accent-color)
}
.footer .logo-secondary{
    color: var(--bg-color-white);
}
.footer .logo-primary,
.footer .logo-secondary{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

/* site-nav */
.site-nav .link{
    color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color)
}
.site-nav .link.active{
    color: var(--accent-color);   
}
/* auch-nav */
.auch-nav .link{
color: var(--primary-text-color);
}
.auch-nav .link:hover,
.auch-nav .link:focus{
    color: var(--accent-color);
}
.site-nav .link,
.auch-nav .link{
font-weight: 500;
font-size: 14px;
line-height:1.14;
letter-spacing: 0.02em;
text-decoration: none;
}
/* Header */
.header{
    background-color: var(--bg-color)
}

/* Hero */
.hero{
background-color:var(--bg-color-black);
    
    
}
.hero .title{
    color: var(--bg-color-white);   
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;

}

/* Button */
.button{
color: var(--bg-color-white);
background-color: var(--accent-color); 
font-weight: 700;
font-size: 16px;
line-height:1.88;
text-align: center;
letter-spacing: 0.06em;
text-decoration: none;

margin-right: auto; 
}
    .button .title:hover,
    .button .title:focus{
    color: var(--accent-color);
    }
    .button-title:hover,
    .button-title:focus{
      color: var(--bg-color-white);
      background-color: var(--accent-color)
    }
.button-title{

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
/* advantage */
.advantage-link .title{
    color: var(--primary-text-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.advantage-link .paragraph{
    color: var(--second-text-color);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;


}
/* Work */
.section-title .link{  
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
}
/* Team */

.employee-link .title{
    color: var(--primary-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
}
.employee-link .paragraph{
    color: var(--second-text-color);
}
.section-title .title{
color: var(--primary-text-color);    
}
/* Footer */
.footer{
background-color:var(--bg-color-black);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

}
.address{
    color: var(--bg-color-white);
    
}
.address-link{
    color:rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
/* Portfolio.html */
.heading .description{
    color: var(--primary-text-color)
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

}
.heading .title{
color: var(--second-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
}

/* test */
.btn{
display: inline-block;
padding: 20px 40px;
background-color: tomato;
color: #FFFFFF;
text-decoration: none;
}
